<div class="flex justify-center items-center w-80 sm:w-auto mx-auto">
    <form [formGroup]="form" (ngSubmit)="SendForm()"
        class="my-shadow rounded-xl bg-gradient-to-r from-slate-500 to bg-slate-600 w-80 flex flex-col justify-center items-center p-10 font-semibold">
        <div>
            <label class="text-white" for="ctg-name">{{formtittle}}</label><br>
            <input required formControlName="categoryName" type="text" name="ctg-name" id="name"
                class="form-input rounded-xl" placeholder="Category name">
        </div>
        <br>
        <button type="submit"
            class="rounded-full bg-slate-700 hover:bg-slate-800 duration-300 text-white py-2 px-3 w-32">Add
            Category</button>
    </form>
</div>