<div class="flex justify-center items-center">
    <form class="my-shadow rounded-xl bg-gradient-to-r from-slate-500 to bg-slate-600 w-80 flex flex-col justify-center items-center p-10 font-semibold" action="">
        <div>
            <label class="text-white" for="name">Name:</label><br>
            <input type="text" name="name" id="name" class="form-input rounded-xl" placeholder="Book's name">
        </div>
        <div>
            <label class="text-white" for="name">Author:</label><br>
            <input type="text" name="autname" id="autname" class="form-input rounded-xl" placeholder="Author's name">
        </div>   
        <br>
        <div>
            <label class="text-white" for="name">Description:</label><br>
            <textarea class="form-textarea rounded-xl" placeholder="Book description"></textarea>
        </div>
        <br>
        <button class="rounded-full bg-slate-700 hover:bg-slate-800 duration-300 text-white py-2 px-3 w-32">Submit</button>

    </form>
</div>