<div class="rounded-xl overflow-hidden bg-gradient-to-r from-slate-500 to-slate-600 shadow-2xl w-full mt-4">
    <div class=" shadow-md my-8">
        <div class="overflow-x-auto">
        <table class="table-auto w-full">
            <thead class="text-slate-100">
            <tr>
                <th class="px-4 py-2">Categories</th>
            </tr>
            </thead>
            <tbody class="bg-gradient-to-r from-slate-800 to-slate-950 text-slate-300 border-collapse">
            <tr>
                <td class="text-center border-b border-r border-slate-700 py-2">Horror</td>
                <td class="text-center border-b border-r border-slate-700 py-2"><a class="text-red-600 font-semibold" href="">Delete</a></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
  