<div class="rounded-xl overflow-hidden bg-gradient-to-r from-slate-500 to-slate-600 my-shadow ">
  <div class=" shadow-md my-8">
    <div class="overflow-x-auto">
      <table class="table-auto w-full">
        <thead class="text-slate-100">
          <tr>
            <th class="px-4 py-2">Book</th>
            <th class="px-4 py-2">Author</th>
          </tr>
        </thead>
        <tbody class="bg-gradient-to-r from-slate-800 to-slate-950 text-slate-300 border-collapse">
          <tr>
            <td class="border-b border-r border-slate-700 pl-10 py-2"><a href="">Harry Potter e a Pedra Filosofal</a></td>
            <td class="border-b border-l border-slate-700 pl-10 py-2 pr-2">J.K. Rowling</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
